.menu {
    display: block;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    background:black;
    line-height: 1.5em;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;

}

.menu-horizontal {
    display: table;
    width: 100%;

}

.menu-horizontal li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: dimgray;
}